{% extends 'base.html' %}
{% block content %}
{% load cart%}
{% load custom_filter%}
<div class="container-fluid mt-3">
    <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4,ml-4">My Cart</p>
        <hr>
        <div class="row">
            <div class="col-sm-9">
                {% for product in products %}
                <div class="card  mt-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="rounded" src="{{product.image.url}}" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
                <hr>
                <div class="m-2 p-2 mt-2">
                    <a href="#" data-toggle="modal" data-target="#exampleModal"
                        class="btn btn-dark rounded col-lg-3 float-right mr-2 mt-2 ">Place order</a>
                    <a href="/" class="btn btn-outline-dark border rounded col-lg-3 float-right mr-2 mt-2"> Continue shopping</a>
                </div>
            </div>
            <div class="col-sm-3 mx-auto mt-3">
                <ul class="list-group mb-2 mx-auto">
                    <li class=" list-group-item list-group-item-dark active bg-dark text-center" aria-current="true">
                        Categories /
                        श्रेणियाँ</li>
                    <a href="/" class="list-group-item list-group-item-action list-group-item-dark text-center"> All
                        Products / सभी
                        उत्पाद</a>
                    {% for category in data.categories %}
                    <a href="/?category={{category.id}}"
                        class="list-group-item list-group-item-action list-group-item-dark text-center">
                        {{category.name}}</a>
                    {% endfor %}
                </ul>
                <div class="list-group mb-3 mx-auto">
                    <a href="#" class="list-group-item list-group-item-dark active bg-dark">Active item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action disabled">Disabled item</a>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}