{% extends 'base.html' %}
{% block content %}
{% load cart%}
{% load custom_filter%}

{% if request.session.cart_msg %}
<script>
    alertify.set('notifier', 'position', 'top-right');
    var delay = alertify.get('notifier', 'delay');
    alertify.set('notifier', 'delay', 2);
    alertify.success("{{request.session.cart_msg}}");
    alertify.set('notifier', 'delay', delay);
</script>
{% endif %}

<div class="container-fluid mt-3">
    {% if cart_empty.flag %}
    <div class="container-fluid  mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Cart</h5>
                    </div>
                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                            <!-- <div class="col-6"> -->
                            <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png"
                                width="130" height="130" class="img-fluid mb-4 mr-3 mt-3">
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <h3><strong>Your Cart is Empty</strong></h3>
                            <h4>Once you have added items to your shopping cart</h4>
                            <h4>You will be able to place order</h4>
                            <!-- <div class="nav-previous"> -->
                            <a href="/" class="btn btn-dark cart-btn-transform m-3" data-abc="true"> <i
                                    class="fa fa-chevron-left"></i> Continue Shopping</a>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="border border-secondary rounded p-4 m-4">
        <div class="card border mx-auto">
            <div class="p-3 card-header text-primary">
                <h4>My Cart ({{request.session.cart.keys|length}})</h4>
            </div>
            <div class="card-body text-dark">
                <p class="card-title">Primary card title : {{1234567890}}</p>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h5 class="card-title">Primary card title</h5> -->
                <p class="card-text"> Delivery Address : Some quick example text to build on the card title and make up
                    the bulk
                    of the card's content, Pincode : 465110</p>
                <a href="#" class="btn btn-outline-secondary float-right mr-4">Change Address </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-9">
                {% for product in products %}
                <div class="card  mt-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img style="height: 150px; width:220px; object-fit: contain; " class="rounded mt-2 ml-2 mb-2"
                                src="{{product.image.url}}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <form action="/cart" method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name='product_id' value='{{product.id}}'>
                                    <h5 class="card-title text-primary ">{{product.name}} <button type="submit"
                                            class=" btn text-secondary float-right" title="Remove"><i
                                                class="fa fa-trash"></i></button></h5>
                                </form>
                                <p class="card-text">{{product.description}}</p>
                                <div class="mb-1">
                                    <button style="height:25px; width: 30px;" class="btn btn-sm"><i
                                            class="fa fa-minus"></i></button>
                                    <input style="height:25px; width: 35px;" class="text-center" id="product"
                                        value="{{product|cart_quantity:request.session.cart}}">
                                    <button style="height:25px; width: 35px;" class="btn btn-sm width 25%"><i
                                            class="fa fa-plus"></i></button>
                                    <h6 class="float-right">{{product|price_total:request.session.cart|currency}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
                <hr>
                <div class="m-2 p-2 mt-2">
                    <a href="#" data-toggle="modal" data-target="#exampleModal"
                        class="btn btn-dark rounded col-lg-3 float-right mr-2 mt-2 ">Place order</a>
                    <a href="/" class="btn btn-outline-dark border rounded col-lg-3 float-right mr-2 mt-2"><i
                            class="fa fa-chevron-left"></i> Continue
                        Shopping</a>
                </div>
            </div>
            <div class="col-sm-3 mx-auto mt-3">
                <div class="card bg-light mb-3 " style="max-width: 18rem;">
                    <div class="card-header text-primary">
                        <h4>Price Details</h4>
                    </div>
                    <div class="card-body text-dark">
                        <h6 class="float-left">Sub-Total</h6>
                        <h6 class="float-right">{{products|total_cart_price:request.session.cart|currency}}</h6>
                        <h6 class="float-left">Delivery Charge</h6>
                        <h6 class="float-right">Free</h6>
                    </div>
                    <div class="card-footer ">
                        <h6 class="float-left ">Amount Payable</h6>
                        <h6 class="float-right">Free</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif%}
    {% endblock %}