{% extends 'base.html' %}
{% block content %}
{% load cart%}
{% load custom_filter%}
<div class="container-fluid mt-3">
    <div class="border border-secondary rounded p-4 m-4">
        <div class="card border mx-auto">
            <div class="p-3 card-header text-primary">
                <h4>{{fullname}}</h4>
            </div>
            <div class="card-body text-dark">
                <div class="row">
                    <div class="col-sm-3 mx-auto mt-3">
                        <div class="card bg-light mb-3 " style="max-width: 18rem;">
                            <div class="card border-secondary">
                                <ul class="list-group ">
                                    <!-- <form>
                                        <input hidden type="text" value="True" name="profile_information">
                                        <input
                                            class="list-group-item list-group-item-action list-group-item-dark text-center"
                                            type="submit" value="Profile Information" readonly>
                                    </form> -->
                                    <form action="/profile" method="POST">
                                        {% csrf_token %}
                                        <input hidden type="text" value="True" name="my_orders">
                                        <input
                                            class="list-group-item list-group-item-action list-group-item-dark text-center"
                                            type="submit" value="My Orders" readonly>
                                    </form>
                                    <!-- <li class="list-group-item bg-light text-center">Profile Information</li> -->
                                    <li class="list-group-item bg-light text-center">My Orders</li>
                                    <li class="list-group-item bg-light text-center">Vestibulum at eros</li>
                                    <li class="list-group-item bg-light text-center">Vestibulum at eros</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">

                        <!-- my_order -->

                        <div class="card border-secondary ">
                            <div class="card-header border-secondary">
                                Featured
                            </div>
                            <div class="card-body">
                                {% if orders %}
                                {% for order in orders %}
                                <div class="card mb-3">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img style="height: 150px; width :150px" class="rounded mt-3 mb-3 ml-3 mr-3"
                                                src="{{order.product.image.url}}" alt="">                                            
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="card-body">
                                                <h5 class="card-title">{{order.product.name}}</h5>
                                                {% if order.status %}
                                                <div><small class="badge badge-success float-right">Completed</small></div>
                                                {%else%}
                                                <div><small class="badge badge-warning float-right">Pending</small></div>
                                                {% endif %}
                                                <div class="card-text float-left">Ordered on : {{order.date}}</div></br>                                                
                                                <div class="card-text ">Mob number: {{order.mob_number}}</div>
                                                <div class="card-text ">Delevery Address: {{order.address}}</div>
                                                <div class="card-text float-left">Quanity: {{order.quantity}}</div></br>
                                                <div class="card-text ">Price: {{order.price|currency}}</div>
                                                <div class="card-text float-right">Total: {{order.quantity|multiply:order.price|currency}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else%}
                                <h5 class="card-title">No orders placed</h5>
                                {% endif%}
                            </div>
                        </div>
                        <!-- my_order -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}