{% extends "base.html"%}
{% block content%}
<div class="container">
    <div class="col-lg-8 mx-auto border rounded pt-3">
        <h3 class="alert alert-light border rounded text-center"> Create an Account</h3>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control form-control-sm" id="validationCustom01"
                        placeholder="First name" required>
                    <div class=" invalid-feedback">
                        Please enter first name
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control form-control-sm" id="validationCustom02"
                        placeholder="Last name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class=" invalid-feedback">
                        Please enter last name
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom04">Email</label>
                    <input type="email" class="form-control form-control-sm" id="validationCustom04"
                        placeholder="example@gmail.com" required>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom04">Password</label>
                    <input type="password" class="form-control form-control-sm" id="validationCustom04"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="********" required>
                    <div class=" invalid-feedback">
                        Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more
                        characters
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom04">Mobile number</label>
                    <input type="tel" class="form-control form-control-sm" id="validationCustom04" pattern="[0-9]{10}"
                        placeholder="0123456789" required>
                    <div class=" invalid-feedback">
                        Please enter mobile number
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <!-- <div class="form-group"> -->
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="1234 Main St"
                        required>
                    <div class=" invalid-feedback">
                        Please enter address </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class=" col-md-4 mb-3">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control form-control-sm" id="inputCity" placeholder="City" required>
                    <div class=" invalid-feedback">
                        Please enter city </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" col-md-4 mb-3">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control form-control-sm">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class=" col-md-4 mb-3">
                    <label for="inputZip">Pincode</label>
                    <input type="text" class="form-control form-control-sm" id="inputZip" placeholder="54321" required>
                    <div class=" invalid-feedback">
                        Please enter pincode </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class=" form-row ">
                <div class=" col-md-4 mb-3">
                    <button class="btn btn-primary btn-sm" type="submit">Signup</button>
                    <button type="button" class="btn btn-outline-primary btn-sm">Signup</button>
                    <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button> -->
                </div>
            </div>

        </form>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
</div>

{%endblock%}